h1{
    text-align: center;
    font-family: 'Knewave', cursive;
}
.twenty_five_percent{
    width: 25%;
    height: 400px;
    width: calc(25% - 20px);
    margin: 10px;
    float: left;
}

.fifty_percent{
    width: 50%; 
    height: 400px;
    width: calc(50% - 20px);
    margin: 10px;
    float: left;
}

.twenty_percent{
    width: 20%;
    height: 400px;
    width: calc(20% - 20px);
    margin: 10px;
    float: left;
}